@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_InnerPage.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>A Website that display the product that can be added to the website by the admin in the admin panel. The contact page which is linked to the admin panel customer. Customer can contact tony by using contact feature</p>
    <p>
        This assignment is about selling the products.from this we can sell anytype of product all over the world.it has home page, contact us, log in and log
        out feature. when we want to sell the product we have to log in everytime.
    </p>
    <p>Clients can contact us through this beacuse we gave email address and mobilenumber as well.if anybody wants to see us their is location as well. we also can delete or add new proucts and it also will save in the database. </p>
    <p>
        In an ever-growing e-commerce sector, marketplaces are  looking for ways to onboard quality sellers, improve the client experience for various pages and increase the conversion rate for their sellers.
        And sellers, in their quest to sell better, are continously adding their own stores and products in these marketplaces. There’s one thing that both sellers and marketplaces need: good content.
    </p>
    <p>
        The main goal of this website is to attract customer that cannot visit the tony’s shop or the customer to whom get their products home delivered.

        The website allows: -
        •	The customers to order products in their conform of home
        •	Tony can add products that are shown to the people who visit his website
        •	Customers to contact tony using contact page
    </p>
    
